$color-primary: #36838d;
$color-body: #fff;

$color-light: #f3f3f3;
$color-white: #fff;
$color-gray: #8c9399;
$color-dark: #2c2c2c;

$spacer: 1em;

$pixelsColor: (
  "1": #d2dae2,
  "2": #485460,
  "3": #79ea83,
  "4": #fbc047,
);
