@use "sass:string";

#canvas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pixel {
  border: 1px solid;
  -webkit-transition: all .1s;
  transition: all .1s;

  &[data-transform="true"] {
    -webkit-transform: rotate(45deg) scale(0.75);
            transform: rotate(45deg) scale(0.75);

    &:hover {
      -webkit-transform: rotate(45deg) scale(0.65);
              transform: rotate(45deg) scale(0.65);
    }
  }

  &:hover {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@each $id, $color in $pixelsColor {
  [data-selected-color="#{$id}"],
  [data-pixel-color="#{$id}"] {
    background-color: $color;
    border-color: $color-gray;
  }
}
