.configuration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: $spacer*2;
  background-color: rgba($color-gray, 0.5);

  &_input {
    min-width: 210px;
    padding: $spacer;
    border: 0;

    &:first-child {
      border-right: 2px solid $color-gray;
      border-radius: 0.5rem 0 0 0.5rem;
    }
  }

  &_button {
    padding: 0 $spacer*1.5;
    border: 0;
    border-radius: 0 0.5rem 0.5rem 0;
    background-color: color.scale($color-primary, $lightness: 20%);
    transition: background-color .2s;
    color: $color-white;
    cursor: pointer;

    &:hover {
      background-color: color.scale($color-primary, $lightness: 10%);
      transition: background-color .2s;
    }
  }
  
}
