* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
  background-color: $color-primary;
  background-image: linear-gradient(43deg, $color-primary 0%, color.scale($color-primary, $lightness: 20%) 100%);
}